<div class="card">
  <div class="card-header">
    Add New Property
  </div>
  <div class="card-body">
    <form (ngSubmit)="onSumbit(Form)" #Form="ngForm">
      <div class="form-group col-12">
        <label for="name">House Name</label>
        <input type="text" name="name" #propName="ngModel"  class="form-control" ngModel required minlength="5">
        <span *ngIf="!propName.valid && propName.touched" class="error-block">
          <span *ngIf="propName.errors.required">Please enter House Name</span>
          <span *ngIf="propName.errors.minlength">Name must be atleast 5 character long</span>
        </span>
      </div>

      <div class="form-group col-12">
        <label for="Type">Type</label>
        <input type="text" name="Type"  class="form-control" ngModel>
      </div>

      <div class="form-group col-12">
        <label for="Price">Price</label>
        <input type="text" name="Price"  class="form-control" ngModel>
      </div>

      <div class="form-group col-12">
        <button [disabled]="!Form.valid" type="submit" class="btn btn-primary mr-2">Save</button>
        <button type="reset" class="btn btn-warning">Cancel</button>
      </div>
    </form>
  </div>
</div>
